<p>Hey There!</p>
<p>
  Congrats - You have great taste! <b>A comment has been added to your recommendation on Nomster</b>

  Check it out<%= link_to 'here', place_url(@place) %>.
</p>

Cheers,<br />
Nomster DC